* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

.cont {
    margin: 0 auto;
    max-width: 1366px;
    /*max-height: 800px;*/
    height: 800px;
    background: url(images/bg_02.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.wrapp {
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all .5s ease;
    color: #454545;
}

.header {
    text-align: center;
    color: #fff;
    padding: 50px;
    margin: 0;
}

.box {
    width: 860px;
    height: 552px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box--part {
    display: inline-block;
    box-sizing: border-box;
}
.img {
    height: 100%;
    width: 100%;
}


.box__left {
    width: 308px;
    height: 100%;
}
.box__content {
    width: 470px;
    height: 100%;
    background: white;
    margin-left: -4px;
    padding: 50px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    vertical-align: top;
}
.content--header {
    padding: 0 15px;
    margin: 0;
    margin-bottom: 26px;
}

.form {
    
}

.label {
    padding: 20px 15px 0;
    font-size: 11px;
    color: #d0d0d7;
    display: block;
}
.input {
    padding: 10px 15px 12px;
    font-size: 16px;
    display: block;
    box-shadow: none;
    border: none;
    width: 100%;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
}

.input:focus {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
}

.input--pref {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: transparent;
    padding: 10px 15px 12px;
    font-size: 16px;
    display: inline-block;
    width: 114px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
    background: url(images/triangle_arrow.png) no-repeat 80% white;
}
.input--pref:active {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
}
.input--pref option {
    box-shadow: none;
}


.input--mobile {
    padding: 10px 15px 12px;
    font-size: 16px;
    display: inline-block;
    box-shadow: none;
    border: none;
    width: 241px;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
}
.input--mobile:focus {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
}

.radio__group {
    padding: 14px 0 0;
    font-size: 24px;
    color: #353535;
    display: block;
    width: 100%;
    transition: all .5s ease;
}
.input--radio {
    /*Firefox*/
    -moz-appearance:none;
    /*Safari and Chrome*/
    -webkit-appearance:none;
    appearance:none;
    display: none;
    /*visibility: none;*/
}

.text--radio {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    /*margin-left: -13px;*/
    position: relative;
}

.text--radio:hover {
    cursor: pointer;
}

.text--radio i {
    width: 45px;
    height: 50px;
    border: 2px solid #d0d0d7;
    padding: 10px;
    margin: 0;
    transition: all .5s ease;
}

.text--radio--venus i {
    padding: 10px 10px 10px 12px;
}

.square--radio {
    position: absolute;
    top: 11px;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #d0d0d7;
    background: white;
    color: #1cd4a3;
    transition: all .5s ease;
}

@-moz-document url-prefix(images/square_radio_bg.png) { 
  .square--radio {
    margin: 0;
    border:1px solid red;
    position:absolute;
    right:0;
    top:0;
  }
}

.square--radio--venus {
    right: 0;
}

.forSquareRadio {
    position: relative;
}
.square--radio--mars {
    right: -6px;
}

input[type="radio"]:checked + label .text--radio i {
    border: 2px solid #1cd4a3;
}
input[type="radio"]:checked + label .text--radio i + .forSquareRadio .square--radio {
    border: 2px solid #1cd4a3;
    background: url(images/square_radio_bg.png);
    transition: all .3s ease;
}



.input__data--day, .input__data--mounth .input__data--year 




.box__tabs {
    width: 75px;
    height: 100%;
    margin-left: -4px;
    border: 1px solid white;    
}

.btn {
    width: 237px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: calc(100% - 25px);
    right: -50px;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

.btn--name {
    width: 187px;
    height: 50px;
    padding: 13px 0;
    /*display: inline;*/
    float: left;
    text-transform: uppercase;
    background: #8658eb;
    background: -webkit-linear-gradient(left, #8658eb, #6931e4);
    background: -o-linear-gradient(left, #8658eb, #6931e4);
    background: -moz-linear-gradient(to right, #8658eb, #6931e4);
    background: linear-gradient(left, #8658eb, #6931e4);
}

.btn--arrow {
    width: 50px;
    height: 50px;
    padding: 13px 0;
    float: right;
    /*display: inline;*/
    background: #7841f4;
    vertical-align: top;
}
.btn--clear {
    clear: both;
}

.fadeIn {
    opacity: 1;
}




/*          mobile      */
/* ####################### */
/* ####################### */


@media(max-width: 900px) {
    .cont {
        max-height: 800px;  
        overflow: hidden;      
    }
    .box__left, .box__tabs {
        display: none;
    }
    .box__content {
    width: 290px;
    height: 512px;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .btn {
        right: 28px;
        /*right: calc(50% + 15px);*/
        /*transform: translate()*/
    }
    .input--mobile {
        width: 131px;
    }
}