* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

.cont {
    margin: 0 auto;
    max-width: 1366px;
    /*max-height: 800px;*/
    height: 800px;
    background: url(images/bg_02.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.wrapp {
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all .5s ease;
    color: #454545;
}

.header {
    color: #fff;
    padding: 0;
    width: 860px;
    margin: 0 auto;
    position: relative;
}

.header--part {
    display: inline-block;
}
.header--main {
    width: 470px;
    font-size: 19px;
    position: absolute;
    top: -70px;
    left: 323px;
    padding: 10px 50px;
    font-weight: 400;
}

.header--left {
    width: 308px;
}
.header--right {
    width: 70px;
    border: 1px solid #1cd4a3;
    position: absolute;
    top: 21px;
    left: 358px;
    z-index: 2;
}


.box {
    width: 860px;
    height: 602px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box--part {
    display: inline-block;
    box-sizing: border-box;
    height: 552px;
    vertical-align: top;
}
.img {
    height: 100%;
    width: 100%;
}


.box__left {
    width: 308px;
}
.box__content {
    width: 470px;
    background: white;
    margin-left: -4px;
    padding: 50px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    vertical-align: top;
}
.content--header {
    padding: 0 15px;
    margin: 0;
    margin-bottom: 26px;
    font-weight: 400;
}

.form {
    
}

.label {
    padding: 20px 15px 0;
    font-size: 11px;
    color: #d0d0d7;
    display: block;
}
.input {
    padding: 10px 15px 12px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    box-shadow: none;
    border: none;
    width: 100%;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
}

.input:focus {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
    background: white;
}

.input--pref {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: transparent;
    padding: 10px 15px 12px;
    font-size: 16px;
    display: inline-block;
    width: 114px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
    background: url(images/triangle_arrow.png) no-repeat 80% white;
}
.input--pref:focus {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
}
.input--pref option {
    box-shadow: none;
}


.input--mobile {
    padding: 10px 15px 12px;
    font-size: 16px;
    display: inline-block;
    box-shadow: none;
    border: none;
    width: 251px;
    border-bottom: 2px solid #d0d0d7;
    transition: all .3s ease;
}
.input--mobile:focus {
    border: none;
    border-bottom: 2px solid #531fc0;
    outline: none;
}

.radio__group {
    padding: 14px 0 0;
    font-size: 24px;
    color: #353535;
    display: block;
    width: 100%;
    transition: all .5s ease;
}
.input--radio {
    /*Firefox*/
    -moz-appearance:none;
    /*Safari and Chrome*/
    -webkit-appearance:none;
    appearance:none;
    display: none;
    /*visibility: none;*/
}

.text--radio {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 25px;
    /*margin-left: -13px;*/
    position: relative;
}

.text--radio:hover {
    cursor: pointer;
}

.text--radio i {
    width: 50px;
    height: 50px;
    border: 2px solid #d0d0d7;
    padding: 10px 10px 10px 10px;
    margin: 0;
    transition: all .5s ease;
}

.text--radio--venus i {
    padding: 10px 10px 10px 13px;
}

.square--radio {
    position: absolute;
    top: 11px;
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #d0d0d7;
    background: white;
    color: #1cd4a3;
    transition: all .5s ease;
}

@-moz-document url-prefix(images/square_radio_bg.png) { 
  .square--radio {
    margin: 0;
    border:1px solid red;
    position:absolute;
    right:0;
    top:0;
  }
}

.square--radio--venus {
    right: 0;
}

.forSquareRadio {
    position: relative;
}
.square--radio--mars {
    right: -6px;
}

input[type="radio"]:checked + label .text--radio i {
    border: 2px solid #1cd4a3;
}
input[type="radio"]:checked + label .text--radio i + .forSquareRadio .square--radio {
    border: 2px solid #1cd4a3;
    background: url(images/square_radio_bg.png);
    transition: all .3s ease;
}



.date--group {
    padding: 14px 0 0;
    font-size: 24px;
    color: #353535;
    display: block;
    width: 100%;
    transition: all .5s ease;
    position: relative;
}


/* hiding input type number arrows */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* ############################## */


.date--group input {
    height: 50px;
    padding: 14px;
    margin: 0;
    font-size: 16px;
    border: 2px solid #d0d0d7;
    transition: all .3s ease;
    font-weight: 400;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.date--group input:focus {
    border: 2px solid #531fc0;
    outline: none;
}

.input__data--day {
    width: 50px;
}

.input__data--month, .input__data--year {
    width: 130px;
}

.date--group .input__data--month {
    vertical-align: top;
    margin: 0 22px;
}

.date--group::before {
    content: " ";
    width: 10px;
    border: 1px solid #d0d0d7;
    position: absolute;
    top: 37px;
    left: 57px;
}
.date--group::after {
    content: " ";
    width: 10px;
    border: 1px solid #d0d0d7;
    position: absolute;
    top: 37px;
    left: 216px;
}

.date--hide {
    display: none;
}




.box__tabs {
    width: 75px;
    margin-left: -4px;
    border: 1px solid white;    
}






.btn {
    width: 237px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: calc(100% - 25px);
    right: -50px;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

.btn--name {
    width: 187px;
    height: 50px;
    padding: 13px 0;
    /*display: inline;*/
    float: left;
    text-transform: uppercase;
    background: #8658eb;
    background: -webkit-linear-gradient(left, #8658eb, #6931e4);
    background: -o-linear-gradient(left, #8658eb, #6931e4);
    background: -moz-linear-gradient(to right, #8658eb, #6931e4);
    background: linear-gradient(left, #8658eb, #6931e4);
}

.btn--arrow {
    width: 50px;
    height: 50px;
    padding: 13px 0;
    float: right;
    /*display: inline;*/
    background: #7841f4;
    vertical-align: top;
}
.btn--clear {
    clear: both;
}

.fadeIn {
    opacity: 1;
    transition: all .5s ease;
}




/*          mobile      */
/* ####################### */
/* ####################### */


@media(max-width: 900px) {
    .cont {
        max-height: 800px;
        overflow: hidden;
    }
    /*.header {
        padding: 30px;
    }*/
    .header--left, {
        display: none;
    }
    .header--main {
        width: 290px;
        padding: 25px;
        margin-left: -4px;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .header--right {
        top: 44px;
        left: 298px;
    }
    /*.box {
        top: 45%;
    }*/
    .box__left, .box__tabs {
        display: none;
    }
    .box__content {
    width: 290px;
    height: 512px;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .content--header {
        font-size: 13px;
    }
    .btn {
        right: 28px;
        /*right: calc(50% + 15px);*/
        /*transform: translate()*/
    }
    .input--mobile {
        width: 141px;
        padding-left: 16px;
    }
    .input__data--month {
        width: 50px;
    }
    .input__data--year {
        width: 103px;
    }
    .date--group::after {
    left: 136px;
    }
}







/* ################################ */
/* ################################ */
/* ################################ */
/* ############ helpers ########### */

/* hiding input type number arrows */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* ############################## */



/* turning off chrome autofill yello bg */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* ############################## */




.error {
    background: white;
    border: 1ps solid red;
}